/* personalizacion del header */
header{
    background-color: springgreen;
}


.navbar-brand{
    text-shadow: 0 0 5px black;
    padding: 20px !important;
}

.navbar-brand:hover{
    background-color: #333;
    border-radius: 10px;
    transform: scale(1.10);
    transition: 1.1s;
}

.nav-link{
    color: white !important;
    text-shadow: 0 0 5px black;
    padding: 20px !important;
}

.nav-link:hover{
    background-color: #333;
    border-radius: 10px;
    transform: scale(1.10);
    transition: 1.1s;
}

@media only screen and (min-width 693px) {
    .nav-link{
        padding: 20px 40px 20px 40px !important;
    }
}


/* fin personalizacion del header */

/* personalizacion del footer */

footer{
    background-color: springgreen;
    width: 100%;
    height: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: white;
    align-items: center;
}

.redes a{
    color: white;
    letter-spacing: 30px;
    font-size: 40px;
}

/* fin personalizacion del footer */